fastapi
uvicorn[standard]
pydantic
requests
pandas
scikit-learn
python-dotenv
google-generativeai
transformers

#budget
httpx
ortools       # if you add real optimization later
sqlalchemy

